.basket, .subtotal{
	table-layout: auto;

	font-size: em(13);

	th{
		background: #F5F5F5;
		border: 0;
		text-transform: uppercase;
	}
	td, th{
		padding: 10px;
	}
}

.subtotal{
	width: 33%;
	float:right;
	td{ border: 0; }
	&:after{
		@include clearfix;
	}
}