.page-footer{
	margin: 40px 0 0 0;

	.feature-push{
		background: #333;
		color: #FFF;
		padding: 20px 0;
		p{
			font-size: em(24);
			margin: 0;
			color: #FFF;
		}
	}

	.information{
		padding: 40px 0;
		.block{
			@include span-columns(3);
			h3{
				font-size: em( 24 );
				font-weight: 400;
				font-family: 'lato', $helvetica;
				a{ color: #333 }
				span{ font-weight: bold; color: $primary }
			}
			ul{
				list-style: none;
				margin: 0; padding: 0;
				li{
					margin: 0;
					padding: 0;
					font-size: em(12);
					a{
						@include transition(none);
						color: $text;
						display: block;
						padding: 5px 0;
						&:hover{
							color: $primary;
						}
					}
				}
				li+li{
					a{
						border-top: 1px solid #efefef;
					}
				}
			}
			@include media( $mobile ){
				@include span-columns(4);
			}
		}
	}

	.copyright{
		padding: 10px;
		background: #F5F5F5;
		p{
			margin: 0;
		}
	}
}