.mini-basket{
		
	position: relative;
	float: right;

	&>a{ @include transition(none); }

	.contents{
		position: absolute;
		width: 300px;
		right: 0;
		top: 100%;
		background: #FFF;
		padding: 20px;
		visibility: hidden;
		@include transition(transform 0.2s ease-in-out, opacity 0.2s ease-in-out);
		@include transform( translateY(20px) );
		opacity:0;
		font-size: em(12);
		color: $text;
		&>table{
			table-layout: auto;
		}
		border:1px solid #efefef;
		margin-right: -1px;
	}

	&:hover .contents{
		visibility: visible;
		@include transform( translateY(0) );
		opacity:1
	}

	.buttons{
		padding: 10px;
		text-align: center;
	}

}