.product{
	@include clearfix;
	margin: 0 0 30px 0;
}
.product--images{
	@include span-columns(4);

	&_large{
		margin: 0 0 5px 0;
		position: relative;
	}

	&_large, &_thumbs a{
		border: 1px solid #efefef;
	}

	&_thumbs a{
		max-width: 24%;
		margin: 0;
		padding: 0;
		display: block;
		float: left;
		&+a{
			margin-left:1.33%;
		}
	}

	img{ display: block; }
}

.product--detail{
	@include span-columns(8);

	h1{
		border-bottom: 1px solid #efefef;
		padding: 0 0 20px 0;
		margin: 0;
	}

	dl{
		@include clearfix;
		font-size: em(13)
	}

	dt, dd{
		float: left;
		padding: 0;
		margin: 0;
	}
	dt{
		width: 7em;
		clear: left;
	}

	&_meta{
		border-bottom: 1px solid #efefef;
		padding: 20px 0;
	}

	&_description{
		padding: 20px 0;
		border-bottom: 1px solid #efefef;
		p{
			font-size: em(13);
		}
	}

	&_price{
		font-size: em(28);
		color: $base-accent-color;
		padding: 20px 0;
		font-weight: bold;
		span{
			text-decoration: line-through;
			font-size: 13px;
			color: $base-font-color;
			font-weight: normal;
		}
	}

	&_basket{
		@include clearfix;

		width: 100%;

		border-top: 1px solid #efefef;
		padding: 20px 0;

		.qty{
			float: left;
			@include clearfix;
			margin: 0 20px 0 0;
			input{
				width: 50px;
				padding: 10px;
				float: left;
			}
			label{
				float: left;
				padding: 10px 10px 10px 0;
			}
		}

		.btn{
			float: left;
		}
	}
}