.product--grid{

	@include row();

	.product--detail_basket{
		border: 0;
		padding: 0;
	}

	&_box:nth-child(3n){
		@include omega();
	}
	&_box{
		@include span-columns(4);
		text-align: center;
		margin-bottom: 20px;

		img{
			display: block;
			max-width: 100%;
			border: 1px solid #efefef;
			@include transition( border-width 0.2s ease-in-out )
		}

		.name{
			margin: 20px 0 0 0;
			font-size: em(14);
			a{
				color: #333;
				transition: none;
			}
		}

		.badge{
			position: absolute;
			background: $primary;
			text-transform: uppercase;
			color: #FFF;
			padding: 3px 8px;
			font-size: em(12);
		}

		.sale{
			background-color: $primary;
			right: 10px;
			top: 10px;
		}

		.new{
			background-color: $secondary;
			left: 10px;
			top: 10px;
		}


		.price{
			font-size: em(18);
			color: $base-accent-color;
			font-weight: bold;
			span{
				text-decoration: line-through;
				font-size: 13px;
				color: $base-font-color;
				font-weight: normal;
			}
		}

		.image{
			overflow: hidden;
			position: relative;
			display: block;			
		}

		.image--overlay{
			position: absolute;
			background-color: $white;
			width: 100%;
			height: 100%;
			opacity: 0;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			display: block;
			left: 0;
			top: 0;
		}

		.image--buttons{
			top: 50%;
			text-align: center;
			width: 100%;
			margin-top: -10px;
			position: absolute;
			visibility: hidden;
			a{
				opacity: 0;
				@include transition( transform 0.2s ease-in-out, opacity 0.2s ease-in-out );
				display:inline-block;
				background: $primary;
				color: #FFF;
				padding: 5px 10px;
				font-size: 20px;
			}
			a+a{
				margin: 0 0 0 10px;
			}
			a:first-child{
				@include transform( translateX(-60px) );
			}
			a:nth-child(2){
				@include transform( translateX(60px));
			}
		}

		.image:hover{
			img{ border-width: 10px; }
			.image--overlay{
				opacity: .7;
			}
			.image--buttons{
				top: 50%;
				opacity: 1;
				visibility: visible;
				a:hover{
					background: lighten( $primary, 5 );
				}
				a:first-child{
					opacity: 1;
					@include transform( translateX(0) );
				}
				a:nth-child(2){
					opacity: 1;
					@include transform( translateX(0) );
				}
			}
		}
	}

}

.product--grid.upsell, .product--grid.col-4{
	.product--grid_box:nth-child(4n){
		@include omega();
	}
	.product--grid_box{
		@include span-columns(3)
	}
}

@include media( $mobile ){
	.product--grid_box{
		@include span-columns(4);
	}
}

.paging{
	padding: 15px 0;
	border-bottom: 2px solid #EFEFEF;
	margin-bottom: 15px;
	font-size: em(13);
	color: $text;
}

