#header-search{
	
	border-bottom: 1px solid #EFEFEF;
	display: none;

	input{
		border: 0;
		padding: 20px 0;
		background: #FFF;
		box-shadow: none;
		margin: 0;
		font-size: em( 30 );
		font-weight: 400;
		font-family: 'lato', $helvetica;
	}

	i{ display: none; }

}