.widget{

	margin: 0 0 20px 0;
	
	&--body{
		// padding: 15px;
		// border: 1px solid #EFEFEF;
		ul{
			list-style: none;
			margin: 0;
			a{
				display: block;
				font-size: em(12);
				text-transform: uppercase;
				color: #333;
				padding: 5px 0;
				// font-weight: bold;
			}
			a:hover{
				color: $primary;
			}
		}
		p{
			margin: 0;
		}
	}

	&--title{
		// background: $primary;
		// color: #FFF;
		// padding: 10px 20px;
		font-size: em(16);
		display: inline-block;
		position: relative;
		margin: 0 0 15px 0;
		&:after{
			content: ' ';
			display: block;
			width: 40%;
			height: 3px;
			background-color: $primary;
			top: 100%;
			left: 0;
			margin-top: 5px;
		}
	}

}