body{
	background: $white;
	font-family: 'Lato', $helvetica;
	font-color: $text;
}

a{
	color: $primary;
	@include transition(none);
}

p{
	font-size: em(13);
	color: $text;
}

a.basket{
	color: $text;
	&:before{
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		content: "\f07a";
		padding: 0 10px 0 0;
	}
}



.page-header{
	background: #FFF;
	margin: 0 0 40px 0;

	.mini-basket{
		@include span-columns(3);
		padding: 30px 20px;
		text-align: right;
		&>div{
			text-align: left;
		}
		@include media( $mobile ){
			@include span-columns(4);
		}
	}

	.search{
		float: left;
		text-align: center;
		@include span-columns(6);
		padding-top: 30px;
		form{
			width: 100%;
			margin: 0 auto;
			position: relative;
		}
		input{
			border: 0;
			padding: 10px;
			background: #FFF;
			box-shadow: none;
			margin: 0;
			border: 1px solid #efefef;
			font-size: em( 13 );
			font-weight: 400;
			font-family: 'lato', $helvetica;
		}
		button{
			position: absolute;
			right: 0; top: 0;
			padding: 12px 15px 11px 15px;
			color: $text;
			border: 1px solid #efefef;
			background: #f5f5f5;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			font-size: em( 13 );
			&:hover{
				color: #FFF;
				background: $primary
			}
		}
		@include media( $mobile ){
			@include span-columns(4);
		}
	}

	.logo{
		@include span-columns(3);
		padding: 30px 20px 30px 0;
		float: left;
		font-size: em( 24 );
		a{ color: #333 }
		span{ font-weight: bold; color: $primary }
		@include media( $mobile ){
			@include span-columns(4);
			text-align: center;
		}
	}

	.nav.primary{
		background: #333;
		ul{
			list-style: none;
			margin: 0; padding: 0;
			li{
				display: inline-block;
				a{
					display: block;
					padding: 15px;
					color: #FFF;
					&:hover{
						background: $primary;// darken( $secondary, 5 );
					}
				}
			}
		}
	}
}

.container{
	@include outer-container();
	@include media( $mobile ){
		padding: 0 15px;
	}
}

.zoomContainer{
	overflow: hidden;
}

.upsell-alert{
	color: #b62b2b;
	font-size: em(13);
}

a.btn, button{	
	background: $primary;
	color: #FFF;
	padding: 8px 12px;
	border-radius: 2px;
	display: inline-block;
	@include transition(none);
	font-size: em(12);
	text-transform: uppercase;
	&.secondary{
		background: $secondary;
	}
	&:hover{
		background: lighten( $primary, 5 );
	}
	&.secondary:hover{
		background: lighten( $secondary, 5 );
	}
}

button{
	padding: 14px;
}

label{
	cursor: pointer;
}

.category-title, .feature-title{
	font-size: em(16);
	display: inline-block;
	position: relative;
	margin: 0 0 15px 0;
	&:after{
		content: ' ';
		display: block;
		width: 40%;
		height: 3px;
		background-color: $primary;
		top: 100%;
		left: 0;
		margin-top: 5px;
	}
}

.feature-title{
	font-size: em(16);
	margin: 30px 0;
}

.sidebar{
	@include span-columns(3);
	@include media( $mobile ){
		@include span-columns(4);
	}
}

.primary-content{
	@include span-columns(9);
	@include media( $mobile ){
		@include span-columns(4);
	}
}


.right{
	float: right;
	padding: 15px 0;
	&:after{
		@include clearfix;
	}
}

.text-right{
	text-align: right;
}

.clearfix{
	@include clearfix;
}

.half{
	@include span-columns(6);
}

.row{
	@include row();
}


@include media( $mobile ){
	.hide-mobile{
		display: none;
	}
}


$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.notice.alert {
  @include flash($alert-color);
}

.notice.error {
  @include flash($error-color);
}

.notice.info {
  @include flash($notice-color);
}

.notice.success {
  @include flash($success-color);
}

input.smfield{
	display: inline-block;
	width: auto
}

.top{
	background: #f5f5f5;
	.user-menu{
		text-align: right;
		font-size: em(12);
		padding: 5px 0;
		@include media( $mobile ){
			text-align: center;
		}
	}
}

.features-wrap{
  @include clearfix;
  margin: 40px 0 0 0;
  &--feature{
    @include span-columns(4);
    padding: 20px;
    border: 1px solid darken($base-background-color, 8);
    cursor: pointer;
    h3{
    	font-weight: normal;
    	font-family: 'lato', $helvetica;
    	font-size: em(16);
    }
    &:hover{
    	border-color: $primary;
    	i{
    		color: $primary;
    	}
    }
    p{
      margin: 0;
      font-size: em(12);
    }
    .icon{
      float:left;
      font-size: 40px;
      padding: 0 20px 0 0;
      display: inline-block;
      width: 80px;
      text-align: center;
      color: $text;
    }
    @include media( $mobile ){
    	@include span-columns(4);
    	margin-bottom: 10px;
    }
  }
}

.sub{
	margin-bottom:20px;
}