$primary: #EE3F40;
$secondary: #623D56;
$white: #FEFEFD;
$beige: #F1E9D2;
$beigeDark: #E5D8B7;

$text: #777;

$base-accent-color: $primary !important;

$mobile-size:em(320);
$tablet-size:720px;
$desktop-size:em(960);
$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size max-width $tablet-size 4);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
$largedesktop: new-breakpoint(max-width $largedesktop-size 16);