/* F3 Based Ecommerce Shop
 * Jamie Watson 
 * http://www.jamiewatson.me
 */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #EE3F40;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #ce1213;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #EE3F40;
  text-decoration: none; }
  a:hover {
    color: #ce1213; }
  a:active, a:focus {
    color: #ce1213;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #EE3F40;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(236, 40, 41, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  background: #FEFEFD;
  font-family: "Lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-color: #777; }

a {
  color: #EE3F40;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

p {
  font-size: 0.8125em;
  color: #777; }

a.basket {
  color: #777; }
  a.basket:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f07a";
    padding: 0 10px 0 0; }

.page-header {
  background: #FFF;
  margin: 0 0 40px 0; }
  .page-header .mini-basket {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    padding: 30px 20px;
    text-align: right; }
    .page-header .mini-basket:last-child {
      margin-right: 0; }
    .page-header .mini-basket > div {
      text-align: left; }
    @media screen and (min-width: 20em) and (max-width: 720px) {
      .page-header .mini-basket {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .page-header .mini-basket:last-child {
          margin-right: 0; } }
  .page-header .search {
    float: left;
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-top: 30px; }
    .page-header .search:last-child {
      margin-right: 0; }
    .page-header .search form {
      width: 100%;
      margin: 0 auto;
      position: relative; }
    .page-header .search input {
      border: 0;
      padding: 10px;
      background: #FFF;
      box-shadow: none;
      margin: 0;
      border: 1px solid #efefef;
      font-size: 0.8125em;
      font-weight: 400;
      font-family: "lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
    .page-header .search button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 15px 11px 15px;
      color: #777;
      border: 1px solid #efefef;
      background: #f5f5f5;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      font-size: 0.8125em; }
      .page-header .search button:hover {
        color: #FFF;
        background: #EE3F40; }
    @media screen and (min-width: 20em) and (max-width: 720px) {
      .page-header .search {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .page-header .search:last-child {
          margin-right: 0; } }
  .page-header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    padding: 30px 20px 30px 0;
    float: left;
    font-size: 1.5em; }
    .page-header .logo:last-child {
      margin-right: 0; }
    .page-header .logo a {
      color: #333; }
    .page-header .logo span {
      font-weight: bold;
      color: #EE3F40; }
    @media screen and (min-width: 20em) and (max-width: 720px) {
      .page-header .logo {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        text-align: center; }
        .page-header .logo:last-child {
          margin-right: 0; } }
  .page-header .nav.primary {
    background: #333; }
    .page-header .nav.primary ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .page-header .nav.primary ul li {
        display: inline-block; }
        .page-header .nav.primary ul li a {
          display: block;
          padding: 15px;
          color: #FFF; }
          .page-header .nav.primary ul li a:hover {
            background: #EE3F40; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 20em) and (max-width: 720px) {
    .container {
      padding: 0 15px; } }

.zoomContainer {
  overflow: hidden; }

.upsell-alert {
  color: #b62b2b;
  font-size: 0.8125em; }

a.btn, button {
  background: #EE3F40;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  font-size: 0.75em;
  text-transform: uppercase; }
  a.btn.secondary, button.secondary {
    background: #623D56; }
  a.btn:hover, button:hover {
    background: #f05657; }
  a.btn.secondary:hover, button.secondary:hover {
    background: #724764; }

button {
  padding: 14px; }

label {
  cursor: pointer; }

.category-title, .feature-title {
  font-size: 1em;
  display: inline-block;
  position: relative;
  margin: 0 0 15px 0; }
  .category-title:after, .feature-title:after {
    content: ' ';
    display: block;
    width: 40%;
    height: 3px;
    background-color: #EE3F40;
    top: 100%;
    left: 0;
    margin-top: 5px; }

.feature-title {
  font-size: 1em;
  margin: 30px 0; }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .sidebar:last-child {
    margin-right: 0; }
  @media screen and (min-width: 20em) and (max-width: 720px) {
    .sidebar {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .sidebar:last-child {
        margin-right: 0; } }

.primary-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .primary-content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 20em) and (max-width: 720px) {
    .primary-content {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .primary-content:last-child {
        margin-right: 0; } }

.right {
  float: right;
  padding: 15px 0; }
  .right:after:after {
    content: "";
    display: table;
    clear: both; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half:last-child {
    margin-right: 0; }

.row {
  display: block; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 20em) and (max-width: 720px) {
  .hide-mobile {
    display: none; } }
.notice.alert {
  background-color: #FFF6BF;
  color: #8c7800;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .notice.alert a {
    color: #594c00;
    text-decoration: underline; }
    .notice.alert a:focus, .notice.alert a:hover {
      color: black; }

.notice.error {
  background-color: #FBE3E4;
  color: #96151b;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .notice.error a {
    color: #6a0f13;
    text-decoration: underline; }
    .notice.error a:focus, .notice.error a:hover {
      color: #110203; }

.notice.info {
  background-color: snow;
  color: #b71011;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .notice.info a {
    color: #880c0d;
    text-decoration: underline; }
    .notice.info a:focus, .notice.info a:hover {
      color: #2a0404; }

.notice.success {
  background-color: #E6EFC2;
  color: #56651a;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .notice.success a {
    color: #333c10;
    text-decoration: underline; }
    .notice.success a:focus, .notice.success a:hover {
      color: black; }

input.smfield {
  display: inline-block;
  width: auto; }

.top {
  background: #f5f5f5; }
  .top .user-menu {
    text-align: right;
    font-size: 0.75em;
    padding: 5px 0; }
    @media screen and (min-width: 20em) and (max-width: 720px) {
      .top .user-menu {
        text-align: center; } }

.features-wrap {
  margin: 40px 0 0 0; }
  .features-wrap:after {
    content: "";
    display: table;
    clear: both; }
  .features-wrap--feature {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding: 20px;
    border: 1px solid #ebebeb;
    cursor: pointer; }
    .features-wrap--feature:last-child {
      margin-right: 0; }
    .features-wrap--feature h3 {
      font-weight: normal;
      font-family: "lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1em; }
    .features-wrap--feature:hover {
      border-color: #EE3F40; }
      .features-wrap--feature:hover i {
        color: #EE3F40; }
    .features-wrap--feature p {
      margin: 0;
      font-size: 0.75em; }
    .features-wrap--feature .icon {
      float: left;
      font-size: 40px;
      padding: 0 20px 0 0;
      display: inline-block;
      width: 80px;
      text-align: center;
      color: #777; }
    @media screen and (min-width: 20em) and (max-width: 720px) {
      .features-wrap--feature {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-bottom: 10px; }
        .features-wrap--feature:last-child {
          margin-right: 0; } }

.sub {
  margin-bottom: 20px; }

.product {
  margin: 0 0 30px 0; }
  .product:after {
    content: "";
    display: table;
    clear: both; }

.product--images {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .product--images:last-child {
    margin-right: 0; }
  .product--images_large {
    margin: 0 0 5px 0;
    position: relative; }
  .product--images_large, .product--images_thumbs a {
    border: 1px solid #efefef; }
  .product--images_thumbs a {
    max-width: 24%;
    margin: 0;
    padding: 0;
    display: block;
    float: left; }
    .product--images_thumbs a + a {
      margin-left: 1.33%; }
  .product--images img {
    display: block; }

.product--detail {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .product--detail:last-child {
    margin-right: 0; }
  .product--detail h1 {
    border-bottom: 1px solid #efefef;
    padding: 0 0 20px 0;
    margin: 0; }
  .product--detail dl {
    font-size: 0.8125em; }
    .product--detail dl:after {
      content: "";
      display: table;
      clear: both; }
  .product--detail dt, .product--detail dd {
    float: left;
    padding: 0;
    margin: 0; }
  .product--detail dt {
    width: 7em;
    clear: left; }
  .product--detail_meta {
    border-bottom: 1px solid #efefef;
    padding: 20px 0; }
  .product--detail_description {
    padding: 20px 0;
    border-bottom: 1px solid #efefef; }
    .product--detail_description p {
      font-size: 0.8125em; }
  .product--detail_price {
    font-size: 1.75em;
    color: #EE3F40 !important;
    padding: 20px 0;
    font-weight: bold; }
    .product--detail_price span {
      text-decoration: line-through;
      font-size: 13px;
      color: #333;
      font-weight: normal; }
  .product--detail_basket {
    width: 100%;
    border-top: 1px solid #efefef;
    padding: 20px 0; }
    .product--detail_basket:after {
      content: "";
      display: table;
      clear: both; }
    .product--detail_basket .qty {
      float: left;
      margin: 0 20px 0 0; }
      .product--detail_basket .qty:after {
        content: "";
        display: table;
        clear: both; }
      .product--detail_basket .qty input {
        width: 50px;
        padding: 10px;
        float: left; }
      .product--detail_basket .qty label {
        float: left;
        padding: 10px 10px 10px 0; }
    .product--detail_basket .btn {
      float: left; }

.product--grid {
  display: block; }
  .product--grid:after {
    content: "";
    display: table;
    clear: both; }
  .product--grid .product--detail_basket {
    border: 0;
    padding: 0; }
  .product--grid_box:nth-child(3n) {
    margin-right: 0; }
  .product--grid_box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center;
    margin-bottom: 20px; }
    .product--grid_box:last-child {
      margin-right: 0; }
    .product--grid_box img {
      display: block;
      max-width: 100%;
      border: 1px solid #efefef;
      -webkit-transition: border-width 0.2s ease-in-out;
      -moz-transition: border-width 0.2s ease-in-out;
      transition: border-width 0.2s ease-in-out; }
    .product--grid_box .name {
      margin: 20px 0 0 0;
      font-size: 0.875em; }
      .product--grid_box .name a {
        color: #333;
        transition: none; }
    .product--grid_box .badge {
      position: absolute;
      background: #EE3F40;
      text-transform: uppercase;
      color: #FFF;
      padding: 3px 8px;
      font-size: 0.75em; }
    .product--grid_box .sale {
      background-color: #EE3F40;
      right: 10px;
      top: 10px; }
    .product--grid_box .new {
      background-color: #623D56;
      left: 10px;
      top: 10px; }
    .product--grid_box .price {
      font-size: 1.125em;
      color: #EE3F40 !important;
      font-weight: bold; }
      .product--grid_box .price span {
        text-decoration: line-through;
        font-size: 13px;
        color: #333;
        font-weight: normal; }
    .product--grid_box .image {
      overflow: hidden;
      position: relative;
      display: block; }
    .product--grid_box .image--overlay {
      position: absolute;
      background-color: #FEFEFD;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      display: block;
      left: 0;
      top: 0; }
    .product--grid_box .image--buttons {
      top: 50%;
      text-align: center;
      width: 100%;
      margin-top: -10px;
      position: absolute;
      visibility: hidden; }
      .product--grid_box .image--buttons a {
        opacity: 0;
        -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        display: inline-block;
        background: #EE3F40;
        color: #FFF;
        padding: 5px 10px;
        font-size: 20px; }
      .product--grid_box .image--buttons a + a {
        margin: 0 0 0 10px; }
      .product--grid_box .image--buttons a:first-child {
        -webkit-transform: translateX(-60px);
        -moz-transform: translateX(-60px);
        -ms-transform: translateX(-60px);
        -o-transform: translateX(-60px);
        transform: translateX(-60px); }
      .product--grid_box .image--buttons a:nth-child(2) {
        -webkit-transform: translateX(60px);
        -moz-transform: translateX(60px);
        -ms-transform: translateX(60px);
        -o-transform: translateX(60px);
        transform: translateX(60px); }
    .product--grid_box .image:hover img {
      border-width: 10px; }
    .product--grid_box .image:hover .image--overlay {
      opacity: .7; }
    .product--grid_box .image:hover .image--buttons {
      top: 50%;
      opacity: 1;
      visibility: visible; }
      .product--grid_box .image:hover .image--buttons a:hover {
        background: #f05657; }
      .product--grid_box .image:hover .image--buttons a:first-child {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      .product--grid_box .image:hover .image--buttons a:nth-child(2) {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }

.product--grid.upsell .product--grid_box:nth-child(4n), .product--grid.col-4 .product--grid_box:nth-child(4n) {
  margin-right: 0; }
.product--grid.upsell .product--grid_box, .product--grid.col-4 .product--grid_box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .product--grid.upsell .product--grid_box:last-child, .product--grid.col-4 .product--grid_box:last-child {
    margin-right: 0; }

@media screen and (min-width: 20em) and (max-width: 720px) {
  .product--grid_box {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .product--grid_box:last-child {
      margin-right: 0; } }
.paging {
  padding: 15px 0;
  border-bottom: 2px solid #EFEFEF;
  margin-bottom: 15px;
  font-size: 0.8125em;
  color: #777; }

.mini-basket {
  position: relative;
  float: right; }
  .mini-basket > a {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
  .mini-basket .contents {
    position: absolute;
    width: 300px;
    right: 0;
    top: 100%;
    background: #FFF;
    padding: 20px;
    visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    font-size: 0.75em;
    color: #777;
    border: 1px solid #efefef;
    margin-right: -1px; }
    .mini-basket .contents > table {
      table-layout: auto; }
  .mini-basket:hover .contents {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .mini-basket .buttons {
    padding: 10px;
    text-align: center; }

.widget {
  margin: 0 0 20px 0; }
  .widget--body ul {
    list-style: none;
    margin: 0; }
    .widget--body ul a {
      display: block;
      font-size: 0.75em;
      text-transform: uppercase;
      color: #333;
      padding: 5px 0; }
    .widget--body ul a:hover {
      color: #EE3F40; }
  .widget--body p {
    margin: 0; }
  .widget--title {
    font-size: 1em;
    display: inline-block;
    position: relative;
    margin: 0 0 15px 0; }
    .widget--title:after {
      content: ' ';
      display: block;
      width: 40%;
      height: 3px;
      background-color: #EE3F40;
      top: 100%;
      left: 0;
      margin-top: 5px; }

#header-search {
  border-bottom: 1px solid #EFEFEF;
  display: none; }
  #header-search input {
    border: 0;
    padding: 20px 0;
    background: #FFF;
    box-shadow: none;
    margin: 0;
    font-size: 1.875em;
    font-weight: 400;
    font-family: "lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  #header-search i {
    display: none; }

.modal h1 {
  margin: 0; }
.modal p {
  color: #333;
  line-height: 1.5; }
.modal label {
  cursor: pointer;
  margin-bottom: 0; }
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }
.modal .modal-state {
  display: none; }
.modal .modal-trigger {
  padding: 0.8em 1em; }
  .modal .modal-trigger:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
.modal .modal-window {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  @media screen and (min-width: 53.75em) {
    .modal .modal-window {
      padding-top: 10em; } }
  .modal .modal-window .modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer; }
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: white;
  cursor: pointer; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #DDD;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: white;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%; }
  @media screen and (min-width: 40em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media screen and (min-width: 53.75em) {
    .modal .modal-inner {
      width: 50%; } }
  .modal .modal-inner h1 {
    color: #333;
    margin-bottom: 0.6em;
    text-align: left;
    text-transform: capitalize; }
  .modal .modal-inner .modal-intro {
    font-weight: 800; }
  .modal .modal-inner .modal-content {
    color: #333; }
    @media screen and (min-width: 40em) {
      .modal .modal-inner .modal-content {
        -webkit-columns: 2 8em;
        -moz-columns: 2 8em;
        columns: 2 8em; } }
  .modal .modal-inner a.cta {
    color: white;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }
.modal .modal-state:checked + .modal-window {
  opacity: 1;
  visibility: visible; }
.modal .modal-state:checked + .modal-window .modal-inner {
  top: 0.5em; }

.modal-open {
  overflow: hidden; }

.basket, .subtotal {
  table-layout: auto;
  font-size: 0.8125em; }
  .basket th, .subtotal th {
    background: #F5F5F5;
    border: 0;
    text-transform: uppercase; }
  .basket td, .basket th, .subtotal td, .subtotal th {
    padding: 10px; }

.subtotal {
  width: 33%;
  float: right; }
  .subtotal td {
    border: 0; }
  .subtotal:after:after {
    content: "";
    display: table;
    clear: both; }

.checkout h2 {
  font-size: 0.8125em;
  padding: 15px;
  background: #623D56;
  margin: 15px 0;
  color: #FFF;
  text-transform: uppercase; }
.checkout label {
  font-size: 0.8125em; }

.auth--block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .auth--block:last-child {
    margin-right: 0; }
  .auth--block_login, .auth--block_register {
    min-height: 300px;
    border: 1px solid #efefef;
    padding: 20px; }

.page-footer {
  margin: 40px 0 0 0; }
  .page-footer .feature-push {
    background: #333;
    color: #FFF;
    padding: 20px 0; }
    .page-footer .feature-push p {
      font-size: 1.5em;
      margin: 0;
      color: #FFF; }
  .page-footer .information {
    padding: 40px 0; }
    .page-footer .information .block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .page-footer .information .block:last-child {
        margin-right: 0; }
      .page-footer .information .block h3 {
        font-size: 1.5em;
        font-weight: 400;
        font-family: "lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
        .page-footer .information .block h3 a {
          color: #333; }
        .page-footer .information .block h3 span {
          font-weight: bold;
          color: #EE3F40; }
      .page-footer .information .block ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .page-footer .information .block ul li {
          margin: 0;
          padding: 0;
          font-size: 0.75em; }
          .page-footer .information .block ul li a {
            -webkit-transition: none;
            -moz-transition: none;
            transition: none;
            color: #777;
            display: block;
            padding: 5px 0; }
            .page-footer .information .block ul li a:hover {
              color: #EE3F40; }
        .page-footer .information .block ul li + li a {
          border-top: 1px solid #efefef; }
      @media screen and (min-width: 20em) and (max-width: 720px) {
        .page-footer .information .block {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%; }
          .page-footer .information .block:last-child {
            margin-right: 0; } }
  .page-footer .copyright {
    padding: 10px;
    background: #F5F5F5; }
    .page-footer .copyright p {
      margin: 0; }

/*# sourceMappingURL=app.css.map */
